#only_in_stock {
    position: initial;
    opacity: 1;
    pointer-events: initial;
    margin-right: 5px;
}

#only_in_stock_container {
    width: 50%;
}

.hero-container {
    position: relative;
    background: #181818;
    overflow: hidden;
    /* background: #1d1d1d; */
    /* margin-top: 30px; */
    /*min-height: 500px;*/
    padding-bottom: 20px;
    padding-top: 20px;
    /* border: 1px solid transparent; */
    /* border-radius: 4px; */
    color: #fff;
    overflow: visible;
    padding-top: 50px;
    padding-bottom: 60px;
}

.hero-container div, .hero-container button, .hero-container input, .hero-container label {
    z-index: 2;
}

#category-select-col .select-wrapper {
    z-index: 500;
}

.hero-container input {
    position: relative;
    color: #fff;
}

.hero-container h3 {
    margin-top: 0;
}

.hero-container h1, .hero-container h2, .hero-container h3, .hero-container h4, .hero-container h5, .hero-container h6 {
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
    /*font-size: 1.4rem;*/
    display: block;
}

.hero-container:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: brightness(0.3);
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.hero-container input::placeholder {
    color: #fff;
}

span.tool-name {
    display: block;
    visibility: hidden;
}

.view-all-btn {
    background: #eee;
    color: #333;
    border: 1px solid #333;
    width: 150px;
    font-weight: 600;
}

.view-all-btn:hover {
    color: #fff;
}

#only_in_stock_container label {
    color: #fff;
}

.search-row {
    margin-bottom: 0;
    background-color: #818E9E;
    /* background: rgba(0,0,0,0.87); */
    padding: 20px;
    margin-top: 40px;
    border-radius: 18px;
}

@media all and (max-width: 395px) {
    .hero-container h3 {
        font-size: 1.6rem;
    }
}


#footer {
    margin-top: 2rem;
}

.how-to-tectools {
    margin-bottom: 0;
    /*background: #F5A71E;*/
    /*background: #FFCE54;*/
    /*background: #493F38;*/
    color: #fff;
    /*background: #A46A46;*/
    margin-top: 4rem;
    /*background: #4D4C4A;*/
    /*background: #2C3F50;*/
    /*background: #97653B;*/
    /*background: #CE964F;*/
    /*background: #27718E;*/
    background: #18293D;
}

@media all and (max-width: 991px) {
    .how-to-tectools h6 {
        text-align: center;
    }
}

@media all and (min-width: 992px) {
    .how-to-tectools:not(.how-to-steps) {
        border-radius: 170px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

.how-to-tectools.how-to-steps h6 {
    text-align: center;
}

.how-to-tectools.how-to-steps {
    background: #eee;
    color: #2c3f50;
}
.how-to-tectools.how-to-steps h3 {
    padding-top: 0;
}

.how-to-tectools h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
}

.how-to-tectools:not(.how-to-steps) h3:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
    border-bottom: 1px solid #fff;
}

.how-to-steps h3:after {
    /*content: "";*/
    /*display: block;*/
    /*margin: 0 auto;*/
    /*width: 50%;*/
    /*padding-top: 20px;*/
    /*border-bottom: 1px solid #2c3f50;*/
}

.how-to-tectools .content {
    padding: 50px;
}

.how-to-tectools .content i {
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.step-container {
    text-align: center;
}

.how-to-tectools .step {
    /*font-size: 30px;*/
    /*margin-bottom: 0;*/
    /*margin-top: 0;*/
    /*width: fit-content;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*margin: 0 auto;*/

    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
    /* width: fit-content; */
    display: inline-block;
    justify-content: center;
    margin: 0 auto;
    background: #2c3f50;
    color: #fff;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    text-align: center;
}