#tools-row {
    margin-top: 2rem;
}

#tools-row .card-image img {
    width: 65%;
    margin: 0 auto;
}

div.card-action a {
    display: inline-block;
    vertical-align: sub;
}

.card {
    cursor: pointer;
}

#only_in_stock {
    position: initial;
    opacity: 1;
    pointer-events: initial;
    margin-right: 5px;
}

#only_in_stock_container {
    width: 50%;
}

.card:hover {
    filter: brightness(0.95);
}

.pagination-container {
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;
    margin-right: 5px;
}

.pagination-container .pageSel {
    background: #0C8DFF;
    color: #fff;
    border: 1px solid #0C8DFF;
    border-radius: 6px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 5px;
}

.pagination-container .pageNorm {
    background: #2C3840;
    color: #fff;
    border: 1px solid #2C3840;
    border-radius: 6px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 5px;
}