body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Open Sans';
    color: #2d3e50;
    background: #eee;
}

.select-wrapper .caret {
    /*fill: rgba(255,255,255,0.87);*/
    fill: #2d3e50;
}

main {
    flex: 1 0 auto;
}

button, a, button:hover, a:hover {
    /*transition: all .2s ease-in-out;*/
}

nav, .page-footer {
    background-color: #2C3F50;
}

.card .card-image {
    padding-top: 20px;
}

.cubes-icon {
    vertical-align: bottom;
    margin-right: 5px;
    font-size: 24px;
    color: #4CAF50;
}

.cubes-icon.not-available {
    color: #FF0000;
}

strong {
    font-weight: 600;
}

.hidedtrow {
    display: none;
}

.tec-btn {
    background: #ff9100;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}

#des-editor {
    border-bottom: 1px solid #9e9e9e;
}

nav .brand-logo i {
    float: none;
    margin-right: 0;
}

form.tectool-form input, form.tectool-form select {
    margin-bottom: 2rem !important;
}

a.btn, button.btn {
    font-family: 'Open Sans';
}

.card {
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(113, 106, 106, 0.2);
    /*box-shadow: 0 4px 16px 0 rgba(113, 106, 106, 0.15);*/
}

.tec-submit-btn {
    background-color: #ff9100 !important;
    border: 2px solid #ff9100 !important;
    color: #fff !important;
    outline: none !important;
    height: 43px !important;
    width: 100% !important;
    border-radius: 9px !important;
    margin-top: 5px !important;
    text-transform: uppercase !important;
    cursor: pointer !important;
    font-weight: 500 !important;
}

.green-btn {
    background-color: #2C3F50;
}

a.btn:hover, button.btn:hover {
    background-color: #ff9800;
}

.responsive-table-container {
    overflow-x: auto;
}

.dashboard-btn {
    margin-bottom: 1rem;
}

.info-paragraph {
    background-color: #fff;
    padding: 10px;
    max-width: 375px;
    margin: 0 auto;
}