body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Open Sans';
}

main {
    flex: 1 0 auto;
}

nav, .page-footer {
    background-color: #FF9800;
}

.card .card-image {
    padding-top: 20px;
}

.cubes-icon {
    vertical-align: bottom;
    margin-right: 5px;
    font-size: 24px;
    color: #4CAF50;
}

.cubes-icon.not-available {
    color: #FF0000;
}

strong {
    font-weight: 600;
}

.hidedtrow {
    display: none;
}

form.tectool-form input, form.tectool-form select {
    margin-bottom: 2rem !important;
}

a.btn, button.btn {
    font-family: 'Open Sans';
}

.card {
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(113, 106, 106, 0.2);
}