#barcode-scanner {
    min-height: 200px;
    border: 1px dashed;
}

#scan-btn, #check-in-btn {
    margin: 0 auto;
    display: block;
    width: 50%;
    height: 60px;
    font-weight: 600;
    font-size: 30px;
}

#scan-btn i, #check-in-btn i {
    font-size: 30px;
}

#barcode-scanner video {
    max-width: 100%;
    max-height: 100%;
}

#barcode-scanner canvas {
    height: 0;
    width: 0;
}